*.o
*.lo
*.la
*.slo
*.mk
*.m4
*.swp
.libs
.deps
Makefile
build/PrintPath
build/config.guess
build/config.sub
build/config_vars.sh
build/ltmain.sh
build/pkg/pkginfo
config.log
config.nice
config.status
configure
docs/conf/extra/httpd-autoindex.conf
docs/conf/extra/httpd-dav.conf
docs/conf/extra/httpd-default.conf
docs/conf/extra/httpd-info.conf
docs/conf/extra/httpd-languages.conf
docs/conf/extra/httpd-manual.conf
docs/conf/extra/httpd-mpm.conf
docs/conf/extra/httpd-multilang-errordoc.conf
docs/conf/extra/httpd-ssl.conf
docs/conf/extra/httpd-userdir.conf
docs/conf/extra/httpd-vhosts.conf
docs/conf/extra/proxy-html.conf
docs/conf/httpd.conf
httpd
httpd.spec
include/ap_config_auto.h
include/ap_config_auto.h.in
include/ap_config_layout.h
modules.c
server/export_files
server/export_vars.h
server/exports.c
server/gen_test_char
server/httpd.exp
server/test_char.h
srclib/apr
srclib/apr-util
support/ab
support/apachectl
support/apxs
support/checkgid
support/dbmmanage
support/envvars-std
support/fcgistarter
support/htcacheclean
support/htdbm
support/htdigest
support/htpasswd
support/httxt2dbm
support/log_server_status
support/logresolve
support/logresolve.pl
support/phf_abuse_log.cgi
support/rotatelogs
support/split-logfile

